body {
    margin: 0;
    text-align:center;
    font-family: 'Merriweather', serif;
    color:#40514E;
}
h1 {
  font-size:4rem;
  margin: 0 auto;
  font-family: 'Kaushan Script', cursive;
  color: #66BFBF;
  padding-top: 75px;
}
h2{
  font-size:2rem;
  font-family: 'Montserrat', sans-serif;
  color:#66BFBF;
  font-weight: normal;
  padding:10px;
}
h3{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
}
hr{
border:dotted #EAF6F6;
border-width: 6px 0 0 0;
width: 4%;
margin: 100px auto;
}

p{
  line-height: 2;
}

.skill-row {
  width:50%;
  margin:100px auto;
  text-align: left;
  }

.skillimg {
  width:25%;
  float:left;
  margin-right: 30px;
}

.profileimg{
  border-radius: 100px;
}

.top-container {
background-color: #EAF6F6;
}
.middle-container {
margin:100px 0;
}

.bottom-container {
background-color: #66BFBF;
padding: 10px 0;
line-height: 3;
font-size: 10px;
color:#EAF6F6;
}
.contact-message {
  width: 40%;
  margin:40px auto;
}

.footer-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #11999E;
  font-weight: bold;
  margin:10px 20px;
}
.footer-link:hover{
  color: #EAF6F6;
}

.top-cloud {
  position:absolute;
  right:250px;
  top:20px;
  }
.bottom-cloud {
  position:absolute;
  left:250px;
  bottom:300px;
}
.btn {
  box-shadow: 0 4px 10px -11px #277373;
	background:linear-gradient(to bottom, #66bfbf 5%, #1ca2bd 100%);
	background-color:#66bfbf;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#eaf6f6;
	font-family:'Montserrat', sans-serif;
	font-size:20px;
	padding:10px 20px;
	text-decoration:none;
	text-shadow:0 0 0 #3d878a;
}
.btn:hover {
	background:linear-gradient(to bottom, #1E62D0 5%, #3D94F6 100%);
	background-color:#3D94F6;
}
.btn:active {
	position:relative;
	top:1px;
}
